.app-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-backdrop-light;
    cursor: pointer;

    &.backdrop-sidebar {
        z-index: $zindex-backdrop-sidebar;
    }
}