.nav-tabs {
  .nav-link {
    color: #000;

    &.active {
      color: #fff !important;
      background-color: $primary !important;

      .badge {
        color: $primary;
        background-color: #fff !important;
      }
    }
  }
}
