.tour-tutorial {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  z-index: $zindex-tour-item-active !important;

  .popover-header {
    background-color: #fff;
  }
}

.touranchor--is-active {
  z-index: $zindex-tour-item-active !important;
  position: relative !important;
}

.show-tour-background {
  .tour-background {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.075);
    z-index: $zindex-background-tour;
  }
}

.tour-background {
  display: none;
}
