/* Heights */
$navbar-height: 68px;

/* Widths */
$sidebar-width: 118px;

/*Theme Colors*/
$color-sidebar: #ffffff;
$color-sidebar-text: #2d2d2d;
$color-bodycolor: #fafbfc;
$color-breadcrumb-text: #6c757d;
$color-backdrop-light: rgba(255, 255, 255, 0.4);

/* Z-index */
$zindex-backdrop-sidebar: 1000;
$zindex-background-tour: 2000;
$zindex-tour-item-active: 2050;
$zindex-dropdown: 2000;

/*bootstrap Color*/
$primary: #ea7816;
$dark-primary: #e64a19;
