<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coffee Designer</title>
    <link rel="stylesheet" href="./<%= props.designerCSS %>">

    <script src="./<%= props.designerJS %>"></script>
</head>
<body>

    <script>
        const electron = require('electron');
        const {ipcRenderer} = electron;
        
        // Catch data sended from cli when page has been loaded
        ipcRenderer.on('page:load', (e, json, projectName) => {

            const coffeeDesigner = CoffeeDesigner.init({
                projectName: projectName,
                onClose: () => {
                    ipcRenderer.send('app:quit');
                }
            });

             // Listen to property and method changes
            coffeeDesigner.on([
                'change:name', 
                'change:property'
            ], 
                () => {
                const json = JSON.stringify(coffeeDesigner.toJson());
                ipcRenderer.send('change', json);
            });

            // Listen to position
            coffeeDesigner.on('change:position', () => {
                const json = JSON.stringify(coffeeDesigner.toJson());
                ipcRenderer.send('change:position', json);
            });

            if(json) {
                coffeeDesigner.fromJson(JSON.parse(json));
            }

        });

        setTimeout(() => {
            ipcRenderer.send('page:load', 'loaded');
        }, 350)

    </script>

</body>
</html>