.btn {
  &.btn-primary {
    background-image: linear-gradient(to right, #e64a19 25%, #f2801e);
    color: #ffffff !important;
    cursor: pointer;
  }

  &.page-link {
    color: #000 !important;
  }
}
