.dialog-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.modal-dialog {

    .modal-content {
        box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
        background: #fff;
        color: rgba(0,0,0,.87);
        border: 0;
    }
}